@use "./fonts.scss";

:root {
    font-size: 16px;
    font-family: Assistant, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}
