/* assistant-200 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/assistant-v19-hebrew_latin-200.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-300 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/assistant-v19-hebrew_latin-300.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-regular - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/assistant-v19-hebrew_latin-regular.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-500 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/assistant-v19-hebrew_latin-500.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-600 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/assistant-v19-hebrew_latin-600.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-700 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/assistant-v19-hebrew_latin-700.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}

/* assistant-800 - hebrew_latin */
@font-face {
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/assistant-v19-hebrew_latin-800.woff2") format("woff2");
    font-family: Assistant;
    font-display: swap;
}
